{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block body %}
    <div class="container">
        <label for="username">UserName: </label>
        <p>{{ user.username }}</p>
        <label for="username">Fisrt Name: </label>
        <p>{{ user.first_name }}</p>
        <label for="username">Last Name: </label>
        <p>{{ user.last_name }}</p>
        <label for="username">Email: </label>
        <p>{{ user.email }}</p>
        <label for="username">Role: </label>
        <p>{{ user.userprofile.role }}</p>
        <label for="username">Description: </label>
        <p>{{ user.userprofile.description }}</p>
    </div>
{% endblock %}
