{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}

    <div class="col-md-6">

        <div>
            <h1>Search Post</h1>
            <form method="GET" action="{% url 'broadcast:home' %} ">
                <input type="text" class="form-control"  name="q" placeholder="search Post or Name or Role"
                       value="{{ request.GET.q }}"/>
                <br>
                <input type="submit" class="btn btn-primary" value="Search"/>
            </form>
        </div>

        <h1>What's in your mind</h1>
        {% for message in messages %}
            {% if message.tags == "success" %}
                <li class="alert alert-success">{{ message }}</li>
            {% endif %}
        {% endfor %}

        <form method="post">
            {% csrf_token %}
            {{ form.post }}
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


        <table class="table">
            <tbody>
            {% for rec in records %}
                <tr>
                    <td>
                        <h3>
                            {{ rec.post }}
                        </h3>
                        <p>posted by {{ rec.user }} ({{ rec.user.userprofile.role }}) on {{ rec.updated }} </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
